*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    height: 15vh;
    background-color: #FF69B4;
    display: flex;
    align-items: center;
    
    
}
.logo{
    width: 25vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

    h1{
        font-size: 1.7vw;
        font-weight: 400;
     
    }
    img{
       width: 15vw;
       height: 15vh;
       
    }
}

nav{
      
  width: 40vw;
  
  
    
    ul{
      display: flex; 
      align-items: center;
      justify-content: space-evenly;
      font-size: 1.2vw; 
     
   
      a{
        color: white;
        
      }
    }
}

main{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f51e8a;
    .box{
        
            height: 120vh;  
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            color: white
    }
    
}
.sobre{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
    h2{
      font-weight: 300;
      font-size: 45px;
    }
}


.eventos
{

    display: flex;
    justify-content: space-between;
   
   
    
    article{
        width: 22vw;
        height: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly

       
        img{
            width: 22vw;
        }
    } 
}

footer{
    background-color:  #f51e8a;
    height: 30vh;
    font-size: 10px;
  
    div{
        
        display: flex;
        height: 20vh;
        width: 20vw;
        
        flex-direction: column;
    }
}