*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: cadetblue;
}
header{
    border: solid 2px;
    height: 20vh;
    ul{
        display: flex;
        width: 20vw;
        justify-content: space-between;
    }
}

@media (max-width: 700px)// e para definir uma medida especifica em pix 
{
body{
    background-color: red;
}
}
@media (min-width: 900px)
{
    body{
        background-color: green;
    }
}

@media(min-width: 300px) and (max-width: 800px)
{
   li{
    font-size: 100px;
   }

}